.dropdown-toggle{
    border: 1px solid transparent;
    box-shadow: 1px 1px 10px #3d3d3d;
}
.dropdown-toggle:hover{
    border: 1px solid #a9a8a8
}
img{
    max-height: 40px;
    border-radius: 50%;
    display: inline;
    box-shadow: 1px 1px 1px #2f2f2f;
}