<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Role For {{ userName }}</h4>
  <button
    type="button"
    class="btn-close close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form #rolesFrm="ngForm" id="rolesFrm">
    <div class="check-form" *ngFor="let role of availabelRoles">
      <input
        type="checkbox"
        class="form-check-input"
        [checked]="selectedRoles.includes(role)"
        value="role"
        (change)="updateCheck(role)"
        [disabled]="userName === 'admin' && role === 'Admin'"
      />
      <label class="ms-1">{{ role }}</label>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    Submit
  </button>
</div>
