<div class="text-center">
  <h2>{{ perdicate == "Liked" ? "Member i like" : "Members who like me" }}</h2>
</div>

<div class="container my-3">
  <div class="d-flex">
    <div class="btn-group" name="perdicate">
      <button
        class="btn btn-primary"
        btnRadio="Liked"
        [(ngModel)]="perdicate"
        (click)="loadMember()"
      >
      Members i like
    </button>
    <button
    class="btn btn-primary"
    btnRadio="LikedBy"
    [(ngModel)]="perdicate"
    (click)="loadMember()"
  >
  Members who like me
</button>
    </div>
  </div>
</div>
<div class="container">
  <h2 *ngIf="members?.length === 0">Not Found</h2>

  <div class="row">
    <ng-container *ngFor="let member of members">
      <div class="col-2">
        <app-member-card [member]="member"></app-member-card>
      </div>
    </ng-container>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination && members">
 <ng-container *ngIf="members.length>0">
  <pagination
  class="text-danger color-danger"
  [totalItems]="pagination.totalItems"
  [itemsPerPage]="pagination.itemPerPage"
  [(ngModel)]="pagination.currentPage"
  (pageChanged)="pageChanged($event)"
></pagination>
 </ng-container>
</div>
