<form [formGroup]="registerForm" (ngSubmit)="registerForm.valid && register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3">
    <label style="margin-right: 10px;">I am: </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input" value="male" formControlName="gender" /> Male
    </label>
    <label class="form-check-label">
      <input type="radio" class="form-check-input ms-3" value="female" formControlName="gender" /> Female
    </label>
  </div>
  <app-text-input
    [formControl]="$any(registerForm.controls['userName'])"
    [label]="'userName'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'knownAs'"
  ></app-text-input>
  <app-datepicker [formControl]="$any(registerForm.controls['dateOfBirth'])" [label]="'Date Of Birth'" [maxDate]="maxDate"></app-datepicker>
  <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['interests'])"
    [label]="'Interests'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['lookingFor'])"
    [label]="'LookingFor'"
  ></app-text-input>
  <app-text-input
  [formControl]="$any(registerForm.controls['introduction'])"
  [label]="'Introduction'"
></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'Confirm Password'"
    [type]="'password'"
  ></app-text-input>

  <div class="text-center">
    <button type="submit" class="btn btn-success me-2" [disabled]="!registerForm.valid">Register</button>
    <button type="button" class="btn btn-default" (click)="cansel()">
      Cansel
    </button>
  </div>
</form>
<ng-container *ngIf="validationError.length > 0">
  <ul>
    <li class="text-danger" *ngFor="let error of validationError">
      {{ error }}
    </li>
  </ul>
</ng-container>